@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site is a final project for my ASP.NET MVC college level course.</p>

<p>
    INITIAL PROPOSAL:<br />
    For my final project, I am going to have a food recipe site. The data will be users, recipes,
    and possibly reviews/ratings. Guests can view recipes. Authenticated users can add new recipes.
    Also, if a user is logged in, they will have a link to a page called “My Recipes”, which displays
    a list of the recipes that they have posted. Users can choose to edit or delete their recipes from
    the “My Recipes” page. For a stretch goal, I would like to make it so users can either review
    and/or rate the recipes.
</p>

<p>
    CHANGES MADE:<br />
    <ul>
        <li>I decided to change it from a recipe theme to a coffee theme.</li>
        <li>I decided to make ratings part of the reviews.</li>
    </ul>
</p>

<p>
    STRECH GOALS:<br />
    <ul>
        <li>Make integers for ratings feilds be icons instead.</li>
        <li>Add an option for other users to comment on the reviews.</li>
    </ul>
</p>
