@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1600 Chester Avenue<br />
    Bremerton, WA 98337-1699<br />
    <abbr title="Phone">P:</abbr>
    (360) 792-6050
</address>

<address>
    <strong>Owner:</strong> <a href="mailto:moniquejacobs@student.olympic.edu">moniquejacobs@student.olympic.edu</a>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>