@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome to CoffeeSnobs.com!</h1>

    <p>This is a place for coffee snobs to let other coffee snobs know how good or <br />
    bad their coffee was, from coffee shops located in Kitsap County. <br />
    We sure are coffee snobs!</p>
    <p class="lead"><strong>Become an official coffee snob!</strong></p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Snob Reviews</h2>
        <p>Check out the reviews that fellow coffee snobs have created to let you know about their experiences at local coffee shops.
        </p>
        <p><a class="btn btn-default" href="/Reviews/Index">Read Reviews &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn more</h2>
        <p>Would you like to learn more about who created CoffeeSnobs.com and for what reason? Visit our about page!</p>
        <p><a class="btn btn-default" href="/Home/About">About Us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our info</h2>
        <p>Do you want to contact us here at CoffeeSnobs.com? We would love to hear your feedback! Visit our contact page!</p>
        <p><a class="btn btn-default" href="/Home/Contact">Contact Us &raquo;</a></p>
    </div>
</div>